/Actor.class
/Carte.class
/CarteCollider.class
/Constant.class
/Consumable.class
/Direction.class
/EffetObject.class
/Entity.class
/Ghost.class
/Gum.class
/Node.class
/Player.class
/Vector2.class
/OrangeGum.class
/GreenGum.class
/VioletGum.class
